<h1>About</h1>

<p>
	<%= link_to "ConsultancyNet", "http://ConsultancyNet.eu" %> is a project where consultants can exchange work and project owners can find freelancers
</p>
<p>
	<%= link_to "ConsultancyNet", "http://ConsultancyNet.eu" %> brings you the job or freelancers whenever you need it.
</p>