<div class="center hero-unit">
<% if user_signed_in? %>


<h1>Together</h1>
<br />
<li>marketing course
<ul>SEM</ul>
<ul>SEO</ul>
<ul>Display advertising</ul>
<ul>Social Media marketing</ul>               
<ul>E-mail marketing</ul>
<ul>Online PR</ul>                          
<ul>Affiliate Marketing</ul>

<p>I found Copyblogger as a ressource for the course. <%= link_to "CopyBlogger", "http://my.copyblogger.com/topic/content-marketing/" %> is a free course site.

<% else %>

<h1>Together</h1>

<p>You found the homepage for the future <%= link_to "Together Safety", "http://www.together-safety.com" %> website
</p>

<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</p>
<% end %>
</div>