<h1>Welcome to my test app!</h1>
<p>
	The homepage of the test application I am making. My homepage you can find at <%= link_to "Ge-co.eu", "http://www.ge-co.eu" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>

